<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visitssdfsssd
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <configSections>
    <section name="rewriter" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" requirePermission="false"/>
  </configSections>

  <rewriter configSource="ForumURLRewriter.config"/>

  <connectionStrings>

    <!--Update here-->
    <add name="ClientDbString" providerName="System.Data.SqlClient"
         connectionString="CONNECTION_STRING_HERE" />

    <!--Update here-->
    <add name="yafnet" providerName="System.Data.SqlClient"
         connectionString="CONNECTION_STRING_HERE" />

  </connectionStrings>

  <system.web>
    <sessionState mode="InProc" />
    <trust level="Full" />
    <customErrors mode="On" defaultRedirect="~/error.aspx" />
    <httpRuntime requestValidationMode="2.0" maxRequestLength="20480" executionTimeout="1800" />
    <xhtmlConformance mode="Strict"/>
    <globalization culture="en-US" uiCulture="en" requestEncoding="UTF-8" responseEncoding="UTF-8" fileEncoding="UTF-8" />

    <compilation debug="false" targetFramework="4.6">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.DataSetExtensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
		<add assembly="System.Numerics, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <expressionBuilders>
        <add expressionPrefix="ResourceLookup" type="ResourceLookup" />
      </expressionBuilders>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="login.aspx" timeout="360" slidingExpiration="true"/>
    </authentication>

    <membership defaultProvider="TitanMembershipProvider">
      <providers>
        <clear />
        <add name="TitanMembershipProvider" connectionStringName="ClientDbString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="10000" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="1440" applicationName="/" type="Prem.PTC.Members.TitanMembershipProvider"/>
      </providers>
    </membership>

    <profile enabled="true" defaultProvider="YafProfileProvider" inherits="YAF.Utils.YafUserProfile" automaticSaveEnabled="false">
      <providers>
        <clear/>
        <add name="YafProfileProvider" applicationName="/" connectionStringName="yafnet" type="YAF.Providers.Profile.YafProfileProvider"/>
      </providers>
    </profile>

    <roleManager defaultProvider="TitanRoleProvider" enabled="true">
      <providers>
        <clear/>
        <add name="TitanRoleProvider" type="Prem.PTC.Members.TitanRoleProvider" connectionStringName="ClientDbString" applicationName="/"/>
      </providers>
    </roleManager>

    <!--MACHINE KEY-->

    <httpHandlers>
      <add verb="GET" path="Resource.ashx" type="YAF.YafResourceHandler, YAF" />
    </httpHandlers>

    <httpModules>
      <add name="YafTaskModule" type="YAF.Core.YafTaskModule, YAF.Core"/>
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule,Intelligencia.UrlRewriter"/>
    </httpModules>

    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" enableEventValidation="false" validateRequest="false" styleSheetTheme="Default">
      <controls>
        <add tagPrefix="YAF" namespace="YAF.Controls" assembly="YAF.Controls" />
        <add tagPrefix="YAF" namespace="YAF.Controls.Statistics" assembly="YAF.Controls" />
        <add tagPrefix="YAF" namespace="YAF.Classes" />
        <add tagPrefix="YAF" namespace="YAF" />
        <add tagPrefix="titan" tagName="Shoutbox" src="~/Controls/Shoutbox.ascx" />
        <add tagPrefix="titan" tagName="ConstantBanner" src="~/Controls/Banners/ConstantBanner.ascx" />
        <add tagPrefix="titan" tagName="News" src="~/Controls/News.ascx" />
        <add tagPrefix="titan" tagName="MemberAchievementsList" src="~/Controls/MemberAchievementsList.ascx" />
        <add tagPrefix="titan" tagName="EarningsCalculator" src="~/Controls/EarningsCalculator.ascx" />
        <add tagPrefix="titan" tagName="FacebookLogin" src="~/Controls/FacebookLogin.ascx" />
        <add tagPrefix="titan" tagName="ServerTime" src="~/Controls/Misc/ServerTime.ascx" />
        <add tagPrefix="titan" tagName="MainMenu" src="~/Controls/Menu/MainMenu.ascx" />
        <add tagPrefix="titan" tagName="UserMenu" src="~/Controls/Menu/UserMenu.ascx" />
        <add tagPrefix="titan" tagName="LanguagePanel" src="~/Controls/Misc/LanguagePanel.ascx" />
        <add tagPrefix="titan" tagName="Captcha" src="~/Controls/Captcha.ascx" />
        <add tagPrefix="titan" tagName="Banner" src="~/Controls/Banners/Banner.ascx" />
        <add tagPrefix="titan" tagName="RevShareConstantBanner" src="~/Controls/Banners/RevShareConstantBanner.ascx" />
        <add tagPrefix="titan" tagName="RevShareNormalBanner" src="~/Controls/Banners/RevShareNormalBanner.ascx" />
        <add tagPrefix="titan" tagName="UserWarning" src="~/Controls/UserWarning.ascx" />
        <add tagPrefix="titan" tagName="MemberInfo" src="~/Controls/MemberInfo.ascx" />
        <add tagPrefix="titan" tagName="MemberBalances" src="~/Controls/MemberBalances.ascx" />
        <add tagPrefix="titan" tagName="BannerAuctionLink" src="~/Controls/Banners/BannerAuctionLink.ascx" />
        <add tagPrefix="titan" tagName="RSABanner" src="~/Controls/RSABanner.ascx" />
        <add tagPrefix="titan" tagName="SuccessPanel" src="~/Controls/Messages/SuccessPanel.ascx" />
        <add tagPrefix="titan" tagName="ErrorPanel" src="~/Controls/Messages/ErrorPanel.ascx" />
        <add tagPrefix="titan" tagName="CashLink" src="~/Controls/Advertisements/CashLink.ascx" />
        <add tagPrefix="titan" tagName="PtcAdvert" src="~/Controls/Advertisements/PtcAdvert.ascx" />
        <add tagPrefix="titan" tagName="CPAOffer" src="~/Controls/Advertisements/CPAOffer.ascx" />
        <add tagPrefix="titan" tagName="StartSurfingAdPack" src="~/Controls/Advertisements/StartSurfingAdPack.ascx" />
        <add tagPrefix="titan" tagName="Statistics" src="~/Controls/Statistics.ascx" />
        <add tagPrefix="ajax" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
        <add tagPrefix="titan" tagName="DistributionStatus" src="~/Controls/RevenueSharing/DistributionStatus.ascx" />
        <add tagPrefix="titan" tagName="Jackpot" src="~/Controls/Misc/Jackpot.ascx" />
        <add tagPrefix="titan" tagName="Countdown" src="~/Controls/Misc/Countdown.ascx" />
        <add tagPrefix="titan" tagName="AdPackUserList" src="~/Controls/RevenueSharing/AdPackUserList.ascx" />
        <add tagPrefix="titan" tagName="StartSurfingPtcAd" src="~/Controls/Advertisements/StartSurfingPtcAd.ascx" />
        <add tagPrefix="titan" tagName="ReferralsCount" src="~/Controls/Misc/ReferralsCount.ascx" />
        <add tagPrefix="titan" tagName="CoversationBox" src="~/Controls/Network/ConversationBox.ascx" />
        <add tagPrefix="titan" tagName="TargetBalance" src="~/Controls/Misc/TargetBalance.ascx" />
        <add tagPrefix="titan" tagName="SidebarMenu" src="~/Controls/Menu/SidebarMenu.ascx" />
        <add tagPrefix="titan" tagName="Post" src="~/Controls/Network/Comment.ascx" />
        <add tagPrefix="titan" tagName="FriendInfo" src="~/Controls/Network/FriendInfo.ascx" />
        <add tagPrefix="titan" tagName="TitanFooter" src="~/Controls/Misc/TitanFooter.ascx" />
        <add tagPrefix="titan" tagName="FeatureUnavailable" src="~/Controls/Misc/FeatureUnavailable.ascx" />
        <add tagPrefix="titan" tagName="FacebookOGraphInfo" src="~/Controls/Misc/FacebookOGraphInfo.ascx" />
        <add tagPrefix="titan" tagName="SocialListFooter" src="~/Controls/Misc/SocialListFooter.ascx" />
        <add tagPrefix="titan" tagName="CustomFooter" src="~/Controls/Misc/CustomFooter.ascx"/>
        <add tagPrefix="titan" tagName="CustomHeader" src="~/Controls/Misc/CustomHeader.ascx"/>
        <add tagPrefix="titan" tagName="MatrixInfo" src="~/Controls/Matrix/MatrixInfo.ascx" />
        <add tagPrefix="titan" tagName="EBooks" src="~/Controls/Misc/EBooks.ascx" />
        <add tagPrefix="titan" tagName="FacebookConnect" src="~/Controls/FacebookConnect.ascx" />
        <add tagPrefix="titan" tagName="Register" src="~/Controls/Register.ascx" />
        <add tagPrefix="titan" tagName="Login" src="~/Controls/Login.ascx" />
        <add tagPrefix="titan" tagName="SlotMachine" src="~/Controls/Misc/SlotMachine.ascx" />
        <add tagPrefix="titan" tagName="InvestmentPlanDetails" src="~/Controls/InvestmentPlatform/InvestmentPlanDetails.ascx" />
        <add tagPrefix="titan" tagName="AdPacksCalculator" src="~/Controls/RevenueSharing/AdPacksCalculator.ascx" />
        <add tagPrefix="titan" tagName="InvestmentCalculator" src="~/Controls/InvestmentPlatform/InvestmentCalculator.ascx" />
        <add tagPrefix="titan" tagName="MiniVideo" src="~/Controls/Advertisements/MiniVideo.ascx" />
        <add tagPrefix="titan" tagName="UserBalances" src="~/Controls/Misc/UserBalances.ascx" />
        <add tagPrefix="titan" tagName="CryptocurrencyBalancesInfo" src="~/Controls/CCTrading/CryptocurrencyBalancesInfo.ascx" />
        <add tagPrefix="titan" tagName="RepresentativePaymentMethod" src="~/Controls/Representatives/RepresentativePaymentMethod.ascx" />
        <add tagPrefix="titan" tagName="UseTitanDemoHeader" src="~/Controls/Misc/UseTitanDemoHeader.ascx" />
        <add tagPrefix="titan" tagName="AccountActivationPopUp" src="~/Controls/Messages/AccountActivationPopUp.ascx" />
        <add tagPrefix="titan" tagName="AwaitingPaymentConfirmationWindow" src="~/Controls/Payment/AwaitingPaymentConfirmationWindow.ascx" />
        <add tagPrefix="titan" tagName="MenuBalances" src="~/Controls/Misc/MenuBalances.ascx" />
        <add tagPrefix="titan" tagName="WelcomeTourWizard" src="~/Controls/Misc/WelcomeTourWizard.ascx" />
        <add tagPrefix="titan" tagName="ICOCurrentStageInformation" src="~/Controls/ICO/ICOCurrentStageInformation.ascx" />
        <add tagPrefix="titan" tagName="LeadershipSytemRow" src="~/Controls/LeadershipSytemRow.ascx" />
        <add tagPrefix="titan" tagName="CustomAdPackPurchase" src="~/Controls/Advertisements/CustomAdPackPurchase.ascx" />
        <add tagPrefix="titan" tagName="ShareableArticle" src="~/Controls/News/ShareableArticle.ascx" />
		<add tagPrefix="titan" tagName="Article" src="~/Controls/News/Article.ascx" />		
		<add tagPrefix="titan" tagName="SearchResultArticle" src="~/Controls/News/SearchResultArticle.ascx" />		
	    <add tagPrefix="titan" tagName="ArticleLink" src="~/Controls/News/ArticleLink.ascx" />		
	    <add tagPrefix="titan" tagName="CaptchaClaim" src="~/Controls/CaptchaClaim.ascx" />
      </controls>
      <namespaces>
        <add namespace="YAF.Core" />
        <add namespace="YAF.Controls" />
        <add namespace="YAF.Utils" />
        <add namespace="YAF.Types.Interfaces" />
        <add namespace="YAF.Types" />
        <add namespace="Prem.PTC" />
        <add namespace="Prem.PTC.Members"/>
        <add namespace="Resources"/>
      </namespaces>
    </pages>

  </system.web>
  <startup>
    <supportedRuntime version="v4.0" />
  </startup>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <staticContent>
      <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="YafTaskModule"/>
      <remove name="UrlRewriter"/>
      <add name="YafTaskModule" type="YAF.Core.YafTaskModule, YAF.Core" preCondition="managedHandler"/>
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule,Intelligencia.UrlRewriter" preCondition="managedHandler"/>
    </modules>
    <handlers>
      <add name="YafHandler" preCondition="integratedMode" verb="GET" path="Resource.ashx" type="YAF.YafResourceHandler, YAF" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="26214400" />
      </requestFiltering>
    </security>
  </system.webServer>


  <appSettings file="Forum.config">
    <!-- Folder Paths-->
    <add key="BannerAdvertImagesFolderPath" value="~/Images/b_ads/" />
    <add key="BannerImagesFolderPath" value="~/Images/banners/" />
    <add key="PostImagesFolderPath" value="~/Images/p_imgs/" />
    <add key="AchievmentImagesFolderPath" value="~/Images/Achievements/" />
    <!-- Handlers Paths-->
    <add key="PayzaHandlerPath" value="~/Handlers/Payza.ashx" />
    <!-- Table Names-->
    <add key="AppSettingsTableName" value="ApplicationSettings" />
    <add key="MembershipsTableName" value="Memberships" />
    <add key="MembershipPacksTableName" value="MembershipPacks" />
    <add key="PtcAdvertsTableName" value="PtcAdverts" />
    <add key="PtcAdvertCategoriesTableName" value="PtcAdvertCategories" />
    <add key="PtcAdvertGeolocationsTableName" value="PtcAdvertGeolocations" />
    <add key="PtcAdvertPacksTableName" value="PtcAdvertPacks" />
    <add key="BannerAdvertsTableName" value="BannerAdverts" />
    <add key="BannerAdvertGeolocationsTableName" value="BannerAdvertGeolocations" />
    <add key="BannerAdvertPacksTableName" value="BannerAdvertPacks" />
    <add key="PayPalGatewaysTableName" value="PayPalGateways" />
    <add key="PayzaGatewaysTableName" value="PayzaGateways" />
    <add key="LibertyReserveGatewaysTableName" value="LibertyReserveGateways" />
    <add key="SupportTicketsTableName" value="SupportTickets" />
    <add key="UsersTableName" value="Users" />
    <add key="MessagesTableName" value="Messages" />
    <add key="TextsTableName" value="Texts" />
    <add key="TextFragmentsTableName" value="TextFragments" />
  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MerchantWebServiceSoapBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="BasicHttpBinding_I_OkPayAPI" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="ApiRequestSoap">
          <security mode="Transport"></security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://wallet.advcash.com/wsm/merchantWebService" binding="basicHttpBinding" bindingConfiguration="MerchantWebServiceSoapBinding" contract="MerchantWebService" name="MerchantWebServicePort"/>
      <endpoint address="https://api.okpay.com/OkPayAPI" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_I_OkPayAPI" contract="I_OkPayAPI" name="BasicHttpBinding_I_OkPayAPI"/>
      <endpoint address="https://account.papara.com/posservice/ApiRequest.asmx" binding="basicHttpBinding" bindingConfiguration="ApiRequestSoap" contract="PaparaServiceReference.ApiRequestSoap" name="ApiRequestSoap"/>
    </client>
  </system.serviceModel>

</configuration>