#flags, #flags > div {
    background: transparent;
}
#flags:hover, #flags > div:hover {
    background: #fff;
}

.custom.nav-pills {
    text-align: right;
}

.custom.nav-pills input[type=submit] {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #6e7179;
    position: relative;
    display: block;
    padding: 10px 15px;
    float: right;
    background: transparent;
    border: none;
}

.custom.nav-pills input[type=submit] + input[type=submit] {
    margin-right: 5px;
}

.custom.nav-pills input[type=submit].ViewSelected {
    background: #242a30;
    color: #fff;
}

.custom.nav-pills input[type=submit]:not(.ViewSelected):hover {
    color: #333;
    background: #fafafa;
}