.logo-link-light {
    text-decoration: none !important;
    color: #fff !important;
}

.logo-link-dark {
    text-decoration: none !important;
    color: #000 !important;
}

@media (max-width:1200px) {
    .page-content-full-height .content, .vertical-box, .vertical-box-cell, .vertical-box-column, .vertical-box-inner-cell, .vertical-box-row {
        display: block !important;
        width: auto !important;
        position: relative !important;
        overflow: initial !important;
        table-layout: initial !important;
        top: auto !important;
        height: auto !important;
    }

    .vertical-box .slimScrollBar, .vertical-box .slimScrollRail {
        display: none !important;
    }
}
