.bodyclass-user-upgrade input[type=submit].btn-block {
    white-space: normal;
}

.bodyclass-user-statistics-leaderboard .leaderboard .panel {
    min-height: 550px !important;
}

.bodyclass-sites-contact {
    input[type=radio] {
        margin-top: 2px;
    }
}

#header {
    .currencyDropDown {
        .currencyDropDownButton {
            background: transparent;
            border: 1px solid #ccd0d4;
            border-radius: 30px;
            color: #2d353c;
            font-size: 12px;
            width: 100px;
            padding-left: 10px;
        }
    }
}

#header-navbar {
    #flags {
        position: relative;
    }

    .currencyDropDown {
        .currencyDropDownButton {
            background: transparent;
            color: #fff;
            border: 2px solid #fff;
            padding: 5px;
            font-size: 10px;
            margin-top: 10px;
            border-radius: 30px;
            width: 80px;
            padding-left: 10px;
            -webkit-transition: all .2s linear;
            -moz-transition: all .2s linear;
            transition: all .2s linear;
        }

        .dropdown-menu {
            background: #fff;
            border-radius: 10px;
            color: #2d353c;

            li {
                background: transparent;
                border: none;

                a:hover {
                    background: #f0f3f4;
                }
            }
        }
    }
}

.navbar-small {
    #header-navbar {
        .currencyDropDown {
            .currencyDropDownButton {
                background: transparent;
                color: #2d353c;
                border: 2px solid #2d353c;
                margin-top: 0px;
            }
        }
    }
}